= simple_form_for @carrier, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :name_kana
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), carriers_path, :class => 'btn btn-default'
