.page-header
  %h1= t('.title')
.header
  %h2= t('view.user_terminals')
- if @checks.empty?
  .jumbotron
    = t('view.check_empty_message')
- else
  %table.table.table-hover
    %thead
      %tr
        %th= tt('CheckOnClientDashboard.status')
        %th= tt('CheckOnClientDashboard.terminal_name')
        %th= tt('CheckOnClientDashboard.carrier_name')
        %th= tt('CheckOnClientDashboard.maker_name')
        %th= tt('CheckOnClientDashboard.model_name')
        %th= tt('CheckOnClientDashboard.check_created_at')
        %th= tt('CheckOnClientDashboard.check_updated_at')
        %th= tt('CheckOnClientDashboard.due_date')
    %tbody
      - @checks.each do |check|
        %tr{check_id: "#{check.check_id}"}
          %td
            .btn{class: check.status_class}= check.status_view
          %td= check.terminal_name
          %td= check.carrier_name
          %td= check.maker_name
          %td= check.model_name
          %td= check.check_created_at
          %td= check.check_updated_at
          %td= check.due_date
.highlight
  .header
    %h3=t 'view.check_flow'
  .flow
    .highlight-inner
      %div.btn.btn-primary= t('view.reserved')
      端末を準備しておりますので、しばらくお待ちください。
    .highlight-inner
      %div.btn.btn-info= t('view.ready')
      端末の準備が出来ましたので、事務局までお越しください。
    .highlight-inner
      %div.btn.btn-warning= t('view.unavailable')
      あなたに貸出している端末です。
    .highlight-inner
      %div.btn.btn-danger= t('view.owed_by_current_user_overdue')
      あなたが貸出延滞している端末です。すぐに返却してください。
