%h1 Listing models

%table
  %tr
    %th Name
    %th Name kana
    %th
    %th
    %th

  - @models.each do |model|
    %tr
      %td= model.name
      %td= model.name_kana
      %td= link_to 'Show', model
      %td= link_to 'Edit', edit_model_path(model)
      %td= link_to 'Destroy', model, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Model', new_model_path
