%h2
  = t('view.signup')
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
  .form-actions.col-sm-offset-2
    = f.button :submit, t('view.signup')
