%h1 Listing colors

%table
  %tr
    %th Name
    %th Hex
    %th
    %th
    %th

  - @colors.each do |color|
    %tr
      %td= color.name
      %td= color.hex
      %td= link_to 'Show', color
      %td= link_to 'Edit', edit_color_path(color)
      %td= link_to 'Destroy', color, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Color', new_color_path
