.container
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
    %h2.form-signin-heading
      =t('view.login')
    .form-inputs
      = f.email_field :email, autofocus: "", placeholder: "メールアドレス", required: false, autofocus: true, class: 'form-control'
      = f.password_field :password, placeholder: "パスワード", required: false, class: 'form-control'
      %label.checkbox
        = f.check_box :remember_me, value: "remember-me", as: :boolean if devise_mapping.rememberable?
        =t('view.remember_me')
    .form-actions
      = f.submit t('view.login'), class: 'btn btn-lg btn-primary btn-block'
    %br/
    = render "devise/shared/links"
