= simple_form_for @terminal, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :terminal_master_id
  = f.input :volume
  = f.input :color
  = f.input :updated_os
  = f.input :phone_number
  = f.input :sim
  = f.input :wifi
  = f.input :note
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), terminals_path, :class => 'btn btn-default'
