- model_class = Terminal
.page-header
  %h1
    = @title
%table#terminals.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:carrier_name)
      %th= model_class.human_attribute_name(:maker_name)
      %th= model_class.human_attribute_name(:model_name)
      %th= model_class.human_attribute_name(:default_os)
      %th= model_class.human_attribute_name(:updated_os)
      %th= model_class.human_attribute_name(:screen_inch)
      %th= model_class.human_attribute_name(:phone_number)
      %th= model_class.human_attribute_name(:wifi)
      %th= model_class.human_attribute_name(:nfc)
      %th= tt('TerminalMaster.release_date')
      -if current_user.has_role? :admin
        %th=t '.actions', :default => t("helpers.actions")
      -else
        %th
  %tbody
    - @terminals.each do |terminal|
      %tr
        %td= terminal.carrier_name
        %td= terminal.maker_name
        %td= terminal.model_name
        %td= terminal.default_os_version_name
        %td= terminal.updated_os_version_name
        %td= terminal.screen_inch
        %td= nought_or_cross(terminal.phone_number.present?)
        %td= nought_or_cross(terminal.wifi)
        %td= nought_or_cross(terminal.nfc)
        %td=l terminal.release_date
        -if current_user.has_role? :admin
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_terminal_path(terminal), :class => 'btn btn-default btn-xs'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), terminal_path(terminal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
        -else
          %td= link_to t('view.show'), "/terminals/#{terminal.terminal_id}", class: 'btn btn-primary'
-if current_user.has_role? :admin
  = link_to t('.new', :default => t("helpers.links.new")), new_terminal_path, :class => 'btn btn-primary'
