= simple_form_for @check, url: {action: :create}, html: { class: 'form-horizontal' } do |f|
  = f.input :terminal_id
  = f.input :user_id
  = f.input :operator_id
  = f.input :operation
  = f.input :take_out
  = f.input :note
  = f.input :due_date
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), checks_create_path, :class => 'btn btn-default'
